# Terraform
*.tfstate
*.tfstate.*
*.tfvars
!environments/*.tfvars
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Sensitive files
*.pem
*.key
secrets/
